<!DOCTYPE html>
<html lang="en">
<%- include('../../layout/head.ejs') %>
<body>
    <header>
        <h1>[ book app ]</h1>
    </header>
    <main>
        <h3>search results</h3>
        <section>
            <li>
                <%- include('./detail.ejs', {book: book}) %>
            </li>
        </section>
    </main>
</body>
</html>
