<!DOCTYPE html>
<html lang="en">
<%- include('../layout/head.ejs') %>
<body>
    <%- include('../layout/header.ejs') %>
    <main>
        <h3>My bookshelf</h3>
        <section>
            <% books.forEach(book => { %>
                <li>
                    <%- include('./books/detail.ejs', {book: book}) %>

                    <a href="/books/<%= book.id %>">>> View Details</a>
                </li>
            
            <% }); %>
        </section>
        
    </main>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
</body>
</html>