<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>[ book app ] search for your favorite books!</title>
    <link rel="stylesheet" href="/styles/base.css">
</head>
<body>
    <header>
        <h1>[ book app ]</h1>
    </header>
    <main>
        <h3>Search by Title or Author</h3>
        <form action="/searches" method="post">
            <input id="searchBar" type="text" name="search" placeholder="Enter a title or an author" required>
            <fieldset class="selector">
                <label for="title">
                    <span>Title</span>
                    <input type="radio" name="search" value="title" required>
                </label>
            </fieldset>
            <fieldset class="selector">
                <label for="author">
                    <span>Author</span>
                    <input type="radio" name="search" value="author" required>
                </label>
            </fieldset>
            <button type="submit">Search the Google Books API</button>
        </form>
    </main>
</body>
</html>