@import url('https://fonts.googleapis.com/css?family=Quicksand|Staatliches');
@import url(reset.css);
@import url(layout.css);
@import url(modules.css);

*{
  box-sizing: border-box; 
}
body {
  background-color: lightgray;
  font-family: Quicksand, sans-serif;
  margin: auto;
}

@media only screen and (min-width: 960px) {
  main{
      width: 960px;
      margin: 20px auto;
  }
}
@media only screen and (max-width: 959px) {
  main{
    width: 480px;
    margin: 20px auto;
  }
  h3{
    text-align: center;
  }
}

h1{
  font-family: Staatliches, sans-serif;
  font-size: 48pt;
  font-weight: normal;
  width: 100%;
}
h3{
  font-family: Staatliches, sans-serif;
  font-size: 16pt;
  font-weight: normal;
}
h5{
  font-style: italic;
}
h5 a{
  color: lightgray;
}
a{
  font-family: Staatliches, sans-serif;
  font-size: 14pt;
  font-weight: normal;
  text-decoration: none;
  color: white
}
a:hover{
  color: darkblue;
  transition: 0.3s;
}