@import url('https://fonts.googleapis.com/css?family=Quicksand|Staatliches');
@import url(reset.css);
@import url(layout.css);
@import url(modules.css);

*{
  box-sizing: border-box; 
}
body {
  background-color: lightgray;
  font-family: Quicksand, sans-serif;
  margin: auto;
}

h1{
  font-family: Staatliches, sans-serif;
  font-size: 48pt;
  font-weight: normal;
  width: 100%;
}
h3{
  font-family: Staatliches, sans-serif;
  font-size: 16pt;
  text-align: left;
  font-weight: normal;
  margin-top: 10px;
  /* margin-left: 20px; */
}
h5{
  font-style: italic;
}
h5 a{
  color: lightgray;
}
h6{
  margin: 5px 0;
  font-size: 10pt;
}
a{
  font-family: Staatliches, sans-serif;
  font-size: 14pt;
  font-weight: normal;
  text-decoration: none;
  color: white;
  transition: 0.3s;  
}
a:hover{
  color: white;
  text-decoration: underline;
  
}