@media only screen and (min-width: 960px) {
    main{
        width: 960px;
        margin: 20px auto;
    }
  }
@media only screen and (max-width: 959px) {
    main{
        width: 480px;
        padding: 20px;
    }
    header, nav{
        width: 480px !important;
    }
}
header{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}

nav{
    width: 100%;
    background-color: darkgray;
    line-height: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
}
nav li{
    display: inline;
    padding: 0 20px;;
    margin: 0;
    background-color: none;
}
fieldset{
    border-radius: 10px;
    border: 1px solid lightgray;
    padding: 20px;
    margin-top: 10px;
    display: block;
}
  
.hide-form{
    display: none;
}