<div id="form-bg" id="<% book.isbn %>"></div>
<div id="form-popup" id="<% book.isbn %>">
    <h5>Give us new details <a href="#" id="close">[close window]</a></h5>
    <form action="/modify" method="POST">
        <input id="searchBar" type="text" name="search" placeholder="Bookshelf Category">
        
        
        <button type="submit">Add to Database</button>
    </form>
</div>c